@import "stylesheets/bootstrap-breakpoint.less";
@import "stylesheets/variables.less";

body {
  .break(lg, {
    padding-bottom: @footer-height;
  });
}

.footer {
  padding: 2px 10px 7px!important;
  text-align: center;

  a:hover {
    background: none!important;
    text-decoration: underline!important;
  }

  .nav-footer {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    .break(lg, {
      justify-content: flex-start;
      flex-flow: row;
    });

    a {
      color: #fff;
    }
    li {
      a {
        padding: 0;
      }
    }
  }

  .social-media {
    padding-top: 30px;

    .break(lg, {
      padding-top: 0;
    });
  }

  .collapse-footer {
    padding-top: 0.5rem;
    cursor: pointer;
    .glyphicon  {
      font-weight: bolder;
      display: block;
      &.first {
        top: 8px;
      }
    }
    .text {
      font-size: 0.8rem;
    }

    .break(lg, {
      display: none;
    });
  }

  #collapsableFooter {
    .logo_link {
      display: none;
    }
    .break(lg, {
      height: unset!important;
      display: block;

      .logo_link {
        display: block;
      }
    });
  }

  .break(lg, {
    text-align: inherit;
    height: @footer-height;
    width: 100%;
    padding: 3rem 0!important;
  });

  @media only screen and (max-device-width: 768px) {
    font-size: 0.8rem;
  }
}
