<footer class="py-5 bg-primary">

  <div class="collapse-footer" data-toggle="collapse" href="#collapsableFooter" >
    <div class="glyphicon glyphicon-menu-up first"></div>
    <div class="glyphicon glyphicon-menu-up second"></div>
    <a href="#"><img src="assets/images/logo-footer.gif?version={{buildNumber}}" class="p-2 pb-3" /></a>
  </div>

  <div id="collapsableFooter" class="container collapse">
    <div class="row">
      <div class="col-lg-6">
        <a href="#" class="logo_link"><img src="assets/images/logo-footer.gif?version={{buildNumber}}" class="p-2 pb-3" /></a>
        <ul class="nav nav-footer">
<!--           <li class="px-2"><a href="{{url.contact}}" class="text-white">{{t 'footer.contact-us'}}</a></li> | -->
          <li class="px-2"><a href="{{url.help}}" class="text-white">{{t 'footer.help'}}</a></li> |
          {{#if url.how-it-works}}<li class="px-2"><a href="{{url.how-it-works}}" class="text-white">{{t 'footer.how-it-works'}}</a></li> |{{/if}}
          <li class="px-2"><a href="{{url.terms-of-use}}" class="text-white">{{t 'footer.terms-of-use'}}</a></li> |
          <li class="px-2"><a href="{{url.about-us}}" class="text-white">{{t 'footer.about-us'}}</a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-white text-center social-media">
      	<span class="pb-2 d-block">{{t 'footer.contact-phone-title'}}</span>
      	<span class="pb-2 d-block">{{t 'footer.contact-phone-number.label'}}</span>
      </div>
      <div class="col-lg-2 text-white text-center social-media">
        <span class="pb-2 d-block">{{t 'footer.follow-us'}}</span>
        <a href="{{url.facebook}}" target="_blank"><img src="assets/images/facebook.png?version={{buildNumber}}" /></a>
        <a href="{{url.twitter}}" target="_blank"><img src="assets/images/twitter.png?version={{buildNumber}}" /></a>
        <a href="{{url.instagram}}" target="_blank"><img src="assets/images/instagram.png?version={{buildNumber}}" /></a>
      </div>
    </div>
    <div class="row">
		<div class="col-lg-10 col-xs-12">
        	<p class="m-2 mt-5 text-white small">{{t 'footer.copyright'}}</p>
		</div>
		<div class="col-lg-2 col-xs-12 text-center">
			{{t 'dataFiscal'}}
      	</div>
    </div>
  </div>
</footer>
